<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Test</title>

    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <maim class="main">
      <section class="block block_top">
        <div class="big-block big_top flex-column">
          <div class="logo-name">
            <h3>ASSOCIATES STUDIO DESIGN</h3>
          </div>
          <div class="social">
            <a href="#">
              <img src="../img/icon/fb-icon.png" alt="facebook" />
            </a>

            <a href="#">
              <img src="../img/icon/twitter-icon.png" alt="twitter" />
            </a>

            <a href="#">
              <img src="../img/icon/linkedin-icon.png" alt="linkedin" />
            </a>

            <a href="#">
              <img src="../img/icon/g-icon.png" alt="g+" />
            </a>
          </div>
        </div>
        <div class="small-block small-top flex-column">
          <div class="menu-page">
            <div class="menu-open" title="Open menu"></div>
            <div class="left-menu hidden">
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="#" class="menu-link">home</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">projects</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">studio</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">news</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">contact</a>
                </li>
              </ul>
              <button class="close" title="close">close</button>
            </div>
          </div>
          <p class="adress">
            90802 California <br />
            Long beach <br />
            PO Box 68789 <br />
            300 East Ocean <br />
            Boulev
          </p>
          <div class="phone-post">
            <p class="phone">
              <a href="tel:+64 9 345 6758" title="Call us!">+64 9 345 6758</a>
            </p>
            <p class="post">
              <a href="mailto:info@dsgn-studio.com" title="Write to us!">
                info@dsgn-studio.com
              </a>
            </p>
          </div>
        </div>
      </section>
      <section class="block block_bottom">
        <div class="small-block small-bottom flex-column">
          <ul class="projects">
            <li class="projects-list">
              <a href="#" class="projects-link">all</a>
            </li>
            <li class="projects-list">
              <a href="#" class="projects-link">house</a>
            </li>
            <li class="projects-list">
              <a href="#" class="projects-link">commercial</a>
            </li>
            <li class="projects-list">
              <a href="#" class="projects-link">personal</a>
            </li>
            <li class="projects-list">
              <a href="#" class="projects-link">studio lab</a>
            </li>
          </ul>
          <h2>projects</h2>
        </div>
        <div class="big-block">
          <div class="big_left">
            <h3 class="product-name">fondue</h3>
            <div class="product-description">
              <p><span>Project Assistant: </span>Francesco Dompie</p>
              <p><span>Material: </span>Glass and Metal</p>
              <p><span>Typology: </span>Suspension lamp</p>
              <p><span>Client: </span>David Design</p>
              <p><span>Year: </span>2014</p>
            </div>
            <div class="vew">
              <a href="#">view project</a>
            </div>
            <div class="score">
              <img src="../img/icon/heart.png" alt="heart" class="heart" />
              <span class="counter">+200</span>
            </div>
          </div>
          <div class="big_right small-block">
            <div class="big_right--top flex-column">
              <h3 class="product-name">potter</h3>
              <div class="description-top">
                <h4>for<span> stelton</span></h4>
                <p>
                  Potter focuses on the functionality and process of preparing
                  tea. a big sieve allows the flavor of to evenly brewed.
                </p>
              </div>
              <div class="vew big_right--vew">
                <a href="#">view project</a>
              </div>
              <div class="score">
                <img src="../img/icon/heart.png" alt="heart" class="heart" />
                <span class="counter">+200</span>
              </div>
            </div>
            <div class="big_right--bottom flex-column">
              <h3 class="product-name">fiji</h3>
              <div class="product-description">
                <p><span>Designer: </span> Cuno Frommherz</p>
                <p><span>Typology: </span>armchairs</p>
                <p><span>Year: </span>2012</p>
              </div>
              <div class="vew">
                <a href="#">view project</a>
              </div>
              <div class="score">
                <img src="../img/icon/heart.png" alt="heart" class="heart" />
                <span class="counter">+200</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </maim>
    <script src="../js/main.js"></script>
  </body>
</html>
